*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
  }
  
  
  #experience {
    width: 100%;
    height: 100vh;
  }


  /* fade de l'ecran start */

  .fade-enter-active {
    transition: opacity 1.5s ease, backdrop-filter 1.5s ease; /* Ajoute une transition fluide */
  }
  .fade-enter-from {
    opacity: 0;
    backdrop-filter: blur(0px); /* Pas de flou au début */
  }
  .fade-enter-to {
    opacity: 1;
    backdrop-filter: blur(10px); /* Applique le flou une fois affiché */
  }
  
  .fade-leave-active {
    transition: opacity 1.5s ease, backdrop-filter 1.5s ease;
  }
  .fade-leave-to {
    opacity: 0;
    backdrop-filter: blur(0px);
  }




@keyframes slideOutBottom {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%); 
  }
}

.bottom-enter-active,
.bottom-leave-active {
  animation-duration: 1.5s; 
  animation-timing-function: ease-in-out; 
}

.bottom-leave-active {
  animation-name: slideOutBottom;
}

  

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0); /* Transparent */
    pointer-events: all; /* Capture tous les événements */
    z-index: 10; /* Assurez-vous qu'il soit au-dessus de la scène */
  }
  
  